<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

{% load bootstrap5 %}
{% bootstrap_css %}	
{% bootstrap_messages %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 left">
            <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                <div class="p-3 border-bottom">
                    <h6 class="font-weight-bold text-dark">Notifications</h6>
                    <p class="mb-0 text-muted">You’re all caught up! Check back later for new notifications</p>
                </div>
                <div class="p-3">
                    <button type="button" class="btn btn-outline-success btn-sm pl-4 pr-4">View settings</button>
                </div>
            </div>
            <div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
                <div class="p-5">
                </div>
                <div class="p-3 border-top border-bottom">
                    <h5 class="font-weight-bold text-dark mb-1 mt-0">Envato</h5>
                    <p class="mb-0 text-muted">Melbourne, AU</p>
                </div>
                <div class="p-3">
                    <div class="d-flex align-items-top mb-2">
                        <p class="mb-0 text-muted">Posted</p>
                        <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">1 day ago</p>
                    </div>
                    <div class="d-flex align-items-top">
                        <p class="mb-0 text-muted">Applicant Rank</p>
                        <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">25</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 right">
            <div class="box shadow-sm rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Recent</h6>
                </div>
                <div class="box-body p-0">
                    
                    <div class="p-3 d-flex align-items-center osahan-post-header">
                        <div class="dropdown-list-image mr-3">
                        </div>
                        <div class="font-weight-bold mr-3">
                            <div class="mb-2">We found a job at askbootstrap Ltd that you may be interested in Vivamus imperdiet venenatis est...</div>
                            <a href="#" class="text-secondary" >Mark as read</a>
                        </div>
                        <span class="ml-auto mb-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-delete"></i> Delete</button>
                                    <button class="dropdown-item" type="button"><i class="mdi mdi-close"></i> Turn Off</button>
                                </div>
                            </div>
                            <br />
                            <div class="text-right text-muted pt-1">4d</div>
                        </span>
                    </div>
                </div>
            </div>
            
    </div>
</div>

{% block script %}
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
{% endblock %}