{% extends 'post/base.html' %}

{% block title %} Profile | {{ user.username }}  {% endblock %}

{% block content %}
    <div class="container text-center">
        <h2>Profile</h2>

        <p align="left"> 
            <b>Name: </b>{{ profile.name }}<br/>
            <b>Username: </b>{{ profile.username }}<br/>
            <b>E-mail: </b>{{ profile.email }}<br/>
            <b>Contact Number: </b>{{ profile.contact_number }}<br/>

            {# ...I updated your bad logic my friend. Hope you understand!  @Shuvro #}
            
            {# Checks if address in not empty then renders #}
            {% if profile.address != None %} 
                <b>Address: </b>{{ profile.address }}<br/>
                <b>Date of Birth: </b>{{ profile.date_of_birth }}<br/>
                <b>NID Number: </b>{{ profile.nid }}<br/>
                <b>Blood group: </b>{{ profile.blood_group }}<br/>
            {% endif %}

            {# Checks if current user is the owner of this profile, if true renders one of the button according to the profile state, if address is empty, then complete your profile otherwise update profile#}
            {% if request.user.email == profile.email %}
                {% if profile.address != None %}
                <a href="{% url 'updateProfile'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update Profile</a>
                {% else %}
                    <a href="{% url 'updateProfile'%}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Complete Your Profile</a>
                {% endif %}
            {% endif %}

            {# @Shuvro End #}

        </p>


    </div>

{% endblock %}