{% extends 'post/base.html' %} 
{% block title %} Home {% endblock %}
{% block total_unread_notifications %} {{ total_unread_notifications }} {% endblock %} 
{% block content %} 

{% for items in post %}
{% if items.admin_approved == True %}
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 my-3">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center"> 
          <div>
            {% if request.user.is_authenticated %}
              <a href="/users/view/{{items.author.id}}" class="text-decoration-none"><b style="color: rgb(26, 82, 238);">{{items.author}} </b></a><br>
            {% else %}
            <b style="color: rgb(26, 82, 238);">{{items.author}} </b> <br>
            {% endif %}
            <small class="block text-sm text-gray-600 mb-2">{{ items.created_at|timesince }} ago</small> <br>
            <small>
              {% if items.is_resolved %}
              <div class="bg-success p-1 text-white">Resolved</div>
              {% endif %}
            </small>
          </div>
          <a href="/posts/view/{{items.id}}" class="btn btn-success mr-2">View Post</a>
          
        </div>
        <div class="card-body">
          <i>{{items.description}}</i><br />
          <b>Blood group: </b>{{items.blood_group}}<br />
          <b>Blood required: </b>{{items.required_bags}} bags<br />
          <b>Address: </b> {{items.address}}<br />
          <b>Deadline: </b>{{items.deadlineDate}} before
          {{items.deadlineTime}}<br />
          <b>Contact number: </b> {{items.contact_number}}
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<!-- pagination start -->
<div class="container">
  <div class="row">
    <div class="col-6 offset-3 my-3">
      <div class="card">
        <div class="card-body "> 
          <div> 
            <p align="right"> 
             {% if post.has_previous %} 
              <a class="btn btn-info btn-sm" href="{% url 'home' %}?page={{post.previous_page_number}} "> Previous Page </a>
             {% endif %}
             
             {% if post.has_next %}
             <a class="btn btn-info btn-sm" href="{% url 'home' %}?page={{post.next_page_number}} "> Next Page </a>
             {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pagination end -->
{% endblock %}